@keyframes heartbeat {
	from {
		transform: scale(1);
	}

	40% {
		transform: scale(1.35);
	}

	50% {
		transform: scale(0.8);
	}

	60% {
		transform: scale(1.25);
	}

	to {
		transform: scale(1);
	}
}